/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   margin: 0;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: darkblue;
}

.logo{
   display: flex;
   justify-content: start;
}

.logo img{
   width: 100px;
}

.logo h4{
   display: flex;
   margin: 0;
   align-items: center;
}

ul{
   display: flex;
   gap: 30px;
   flex-direction: row;
   list-style: none;
   margin: 0%;
   padding: 0%;
   text-decoration: none;
   font-weight: 600;
   transition: all .3s ease-in-out;
}

ul a{
   text-decoration: none;
   color: black;
}

h1{
   text-align: center;
   text-transform: uppercase;
}

.compte{
   display: flex;
   align-items: center;
   gap: 10px;
}

.exo img{
    width: 100%;
    height: auto;
    object-fit: fill;
}


.image-text {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 100%;
   color: black;
   padding: 20px;
}

.image-text p{
   font-size: 20px;
   padding: 16px
}

.exo{
   display: flex;
   justify-content: center;
}

h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
 }


 #programme{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0%;
    gap: 100px;
    padding: 5%;
    font-size: smaller;
 }

 .égoisme img{
   width: 100%;
 }

 h2{
    text-align: center;
    text-transform: uppercase;
 }

h5{
   text-transform: uppercase;
   text-align: center;
}

#technologie {
   display: flex;
   align-items: center;
}
#technologie img {
   height: 250px;
   width: auto;
}
#technologies {
   margin-left: 60px;
}

#joueur_sortie {
   font-size: 50px;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
   transition: 0.3s;
   }
   #joueur_sortie:hover{
      color:darkblue;
      } 
   #espoirs {
       display: flex;
       justify-content: center;
       gap: 100px;
       margin: 35px;
   }
   .espoir_container {
               display: flex;
               flex-direction: column;
               background-image: url('assets/neobrain_background.jpg');
               gap: 20px;
               padding: 20px;
               text-align: center;
               border: 0;
               border-radius: 10%;
       max-width: 900px;
           }
   .nom_joueur {
       margin: auto;
       font-size: 20px;
       width: 80%;
       transition: 0.3s;
   }
   .joueur_p {
       font-size: 13px;
       color: black;
   }

       .button{
         border-radius: 8px;
         text-decoration: none;
         padding: 8px 12px;
         transition: all .4s ease-in-out;
      }
      
      .button.primary{
         background: black;
         color: white;
         border: 2px solid black;
      }
      
      .button.secondary{
         background: white;
         color: black;
         border: 2px solid black;
      }
      
      .button.primary:hover{
         background: white;
         color: black;
         border: 2px solid black;
      }
      
      .button.secondary:hover{
         background: darkblue;
         color: white;
         border: 2px solid black;
      }    
      
   .espoir_container img{
         width: 250px;
         height: 250px;
         object-fit: cover;
   }

   h5{
      border: solid;
   }


 footer {
   display: flex;
   background-color: darkblue;
   color: white;
   padding: 20px;
   justify-content: space-around;
 }